* {
    padding: 0;
    margin: 0;
}

#btrnc {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: red;
    color: white;
    transition: background-color 0.3s;
}

#btrnc:hover {
    background-color: #45a049;
}

form {
    max-width: 500px;
    margin: 0 auto;
    margin-right: 50px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

body {
    background: url(ImgJuegoDeu/FondoBack.avif);
    background-repeat: repeat-y;
    background-size: cover;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.contenedor {
    background-color: #ADD8E6;
    width: 920px;
    height: 400px;
    margin: 0 auto;

    position: relative;
    overflow: hidden;
    border: 1px solid black;
}

.avion {
    width: 84px;
    height: 84px;

    position: absolute;
    bottom: 22px;
    left: 42px;
    z-index: 2;

    background: url(ImgJuegoDeu/avi2.png) repeat-x 0px 0px;
    background-size: 336px 84px;
    background-position-x: 0px;

}

.avion-volando {
    animation: animarAvion 0.25s steps(2) infinite;
}

.avion-estrellado {
    background-position-x: -252px;
}

.suelo {
    width: 200%;
    height: 42px;

    position: absolute;
    bottom: 0;
    left: 0;

    background: url(ImgJuegoDeu/suelo.png) repeat-x 0px 0px;
    background-size: 50% 42px;

}

.edificio {
    width: 60px;
    height: 150px;

    position: absolute;
    bottom: 16px;
    left: 600px;
    z-index: 1;

    background: url(ImgJuegoDeu/edif1.png) no-repeat;
}

.edificio2 {
    width: 98px;
    height: 100px;

    background: url(ImgJuegoDeu/edif2.png) no-repeat;
}

.nube {
    width: 92px;
    height: 26px;

    position: absolute;
    z-index: 0;

    background: url(ImgJuegoDeu/nube.png) no-repeat;
    background-size: 92px 26px;
}

.score {
    width: 100px;
    height: 30px;

    position: absolute;
    top: 5px;
    right: 15px;
    z-index: 10;

    color: #d48871;
    font-family: Verdana;
    font-size: 30px;
    font-weight: bold;
    text-align: right;
}

.game-over {
    display: none;

    position: absolute;
    width: 50%;
    margin-right: 300px;

    text-align: justify-all;
    color: black;
    font-size: 30px;
    font-family: Verdana;
    font-weight: 700;
}

@keyframes animarAvion {
    from {
        background-position-x: -84px;
    }

    to {
        background-position-x: -252px;
    }
}